body a{
    color: white;
    font-family: Raleway, sans-serif;
}
body{
    font-family: Raleway, sans-serif;
}
.navbar{
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    color: white;
    background-color: #e16120;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}
a{
    text-decoration: none;
}
a span{
    color: white;
    font-weight: 600;
}
.head{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url(header_image.1dc0f346d407fc577d16.jpg) 50%/cover no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.head input{
    width: 300px;
    height: 60px;
    border-radius: 2.8rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .12), inset 0 0 1px rgba(0, 0, 0, .05);
    border: none;
    outline: none;
}
.head a{
    padding: 20px;
    font-size: 20px;
    border-radius: 50%;
    border: 1.5px solid white;
    background-color: #e16120;
}
.head h3, h4 {
    color: white;
    font-weight: 300;
}
.head h3{
    font-size: 28px;
}
.container{
    width: 70%;
    margin: auto;
}
.main h4 {
    font-size: 24px;
    color: black;
    font-weight: 600;
}
.main h4::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #e16120;
    position: absolute;
    top: 450px;
    left: 15.5%;
}